{% extends "..\dashboard-layout.html" %}
{% block title %} Administer dashboard {% endblock %}

{% block content2 %}
<div id="wrapper">
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Add new department</h1>
                </div>

                <div class="col-lg-6">
                    <form role="form" method="post">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" type="text" name="name" value="{{department.name}}">
                            <input type="hidden" name="id" value="{{department.id}}">
                        </div>
                        <input type="submit" class="btn btn-lg btn-success btn-block"/>
                    </form>
                </div>
                <div class="col-lg-6">

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
{% endblock %}